
.about-this-page{
    margin: 60px 0;
}
.welcome{
    height: 100vh;
    align-items: center;
}
.welcome-container{
    text-align: center;
}
.article-title-preview{
    font-size: 3rem;
    color: #000;
}
.article-preview{
    margin-top: 50px;
    box-shadow: #000 5px 5px 30px;
    padding: 40px 20px 20px 20px;
}

@media screen and (min-width: 1020px){

 /*    .about-this-page{
        margin: 100px 0;
    }
    .welcome{
        margin: 38vh 0;
    } */
    .article-title-preview{
        text-align: center;
    }
}
